.container {
display: grid;
background-color: palevioletred;
grid-template-columns: auto auto;
grid-row-gap: 50px;
grid-column-gap: 100px;
}

.item1 {
height: 300px;
width: 200px;
background-color: purple;
}

.item2 {
    height: 300px;
    width: 200px;
    background-color: purple;
}

.item3 {
    height: 300px;
    width: 200px;
    background-color: purple;
}

.item4 {
    height: 300px;
    width: 200px;
    background-color: purple;
}

    